<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/html"
      lang="en"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{template.html}">
<head>
    <meta charset="UTF-8">
    <title>Zoológico</title>

    <script>
        function validateForm() {
            // Verifica se todos os campos estão preenchidos
            var form = document.getElementById('formFichaNatalidade');
            var inputs = form.querySelectorAll('input, select, textarea');
            var isValid = true;

            inputs.forEach(function(input) {
                if (!input.checkValidity()) {
                    isValid = false;
                }
            });

            if (!isValid) {
                alert('Por favor, preencha todos os campos corretamente.');
            }

            return isValid;
        }
    </script>

</head>
<body>

<div layout:fragment="main" class="container mt-5 pt-5">
    <h1>Alterar Administrador</h1>

    <br>

    <form id="formUser" th:action="@{/administrador/alterar}" method="POST" th:object="${user}" onsubmit="return validateForm()">
        <input type="hidden" th:field="*{id}" />

        Nome<br>
        <input type="text" th:field="*{nome}" required><br>
        Email<br>
        <input type="email" th:field="*{email}" required><br>
        Login<br>
        <input type="text" th:field="*{login}" required><br>
        Senha<br>
        <input type="password" th:field="*{senha}" required><br><br>
        <button type="submit">Atualizar</button>
    </form><br><br>

    <div>
        <a href="/administrador"><button>Voltar</button></a>
    </div><br>
</div>

</body>
</html>
