<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/html"
      lang="en"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{template.html}">
<head>
    <meta charset="UTF-8">
    <title>Zoológico</title>
</head>
<body>

<div layout:fragment="main" class="container mt-5 pt-5">
    <h1>Dados do Administrador</h1><br>

    <h4>Info</h4>
    <div>
        <table>
            <thead>
            <tr>
                <th>Nome</th>
                <th>E-Mail</th>
                <th>Login</th>
                <th>Criação da Conta</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="dado : ${administrador}">
                <td th:text="${dado.nome}"></td>
                <td th:text="${dado.email}"></td>
                <td th:text="${dado.login}"></td>
                <td th:text="${dado.dataCriacao}"></td>
            </tr>
            </tbody>
        </table>
    </div><br>

    <div>
        <a href="/administrador"><button>Voltar</button></a>
    </div><br>
</div>

</body>
</html>
