<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/html"
      lang="en"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{template.html}"
>
<head>
    <meta charset="UTF-8">
    <title>Zoológico</title>
</head>
<body>

<div layout:fragment="main" class="container mt-5 pt-5">
    <h3>Bem vindo a área de Cuidados Diários</h3>

    <div>
            <a href="/cuidado/criar"><button>Adicionar Cuidado Diário</button></a>
    </div>

    <div th:if="${#lists.isEmpty(lista)}">
        <p>Nenhum dado disponível.</p>
    </div>

    <div th:if="${not #lists.isEmpty(lista)}">
        <table>
            <thead>
            <tr>
                <th>Cuidador</th>
                <th>Data</th>
                <th>Animal</th>
                <th>Tarefa Diária</th>
                <th colspan="3">Operações</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="dado : ${lista}">
                <td th:text="${dado.cuidador.nome}"></td>
                <td th:text="${dado.data}"></td>
                <td th:text="${dado.animal.nome}"></td>
                <td th:text="${dado.tarefaDiaria}"></td>
                <td><a th:href="@{/cuidado/consultar(id=${dado.id})}"><button>Consultar</button></a></td>
                <td><a th:href="@{/cuidado/excluir(id=${dado.id})}"><button>Excluir</button></a></td>
                <td><a th:href="@{/cuidado/alterar(id=${dado.id})}"><button>Alterar</button></a></td>
            </tr>
            </tbody>
        </table>
    </div>

    <div>
        <span th:text="${message}"></span>
    </div>
</div>

</body>
</html>
